/*Default*/
* {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857;
    background: #f1f1f1;
    overflow-x: hidden;
}
a,
a:link,
a:active,
a:visited,
a:hover,
a:focus {
    outline: medium none;
    text-decoration: none;
    color: #555;
}
ul,
ol,
li{
    list-style: none;
    padding: 0;
}
p {
    margin: 0 0 10px;
}
/*Header*/

#wrapper .container {
    width: 80%;
    margin:0 auto;
}
.link-top-head {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    height: 30px;
    line-height: 30px;
    position: relative;
    width: 100%;
}
.box-login {
    display: inline-block;
    float: right;
}
.btnLog {
    font-size: 12px;
    padding-left: 12px;
    vertical-align: top;
}
.btnLog:hover,
.btnLog:focus,
.btnLog:active {
    color: #ff7300;
}
.btnLog .cart{
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -142px -52px;
    display: inline-block;
    height: 25px;
    margin-right: 5px;
    vertical-align: top;
    width: 25px;
}
.btnLog.cart span {
    max-width: 20px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    height: 20px;
    color: #f16000;
}
.center-header{
    border-bottom: 1px solid #ddd;
}
.top-header {
    clear: both;
    display: inline-block;
    margin-top: 8px;
    width: 100%;
}
#logo {
    border-radius: 5px;
    float: left;
    margin-top: 8px;
    overflow: hidden;
    width: 20%;
    margin-left: 2px;
}
#logo img{
    border-radius: 4px;
    display: block;
    width: 100%;
}
.box-top-header-right {
    display: inline-block;
    float: right;
    margin-top: 15px;
    width: 70%;
}
.search-top-center {
    display: inline-block;
    float: left;
    margin-top: 1px;
    width: 70%;
}
.box-search {
    border: 2px solid #fe6d01;
    display: inline-block;
    float: left;
    height: 30px;
    position: relative;
    white-space: nowrap;
    width: 95%;
}
.box-search .keyword {
    width: 84%;
    border: none;
    height: 30px;
    padding: 0 5px;
    font-style: italic;
    color: #555;
}
.btn-search {
    background: #fe6d01;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-style: italic;
    font-weight: bold;
    height: 30px;
    position: absolute;
    right: 0;
    width: 15%;
}
.btn-search:hover {
    background: #f16000;
}
.box-right-focus {
    display: inline-block;
    float: right;
    width: 28%;
}
.support-contact .icon-book{
    font-size: 30px;
    color:#ddd;
    margin-right:10px;
    position: relative;
    top:2px;
}
.support-contact {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 18px;
    margin: 1px 0;
    padding: 2px 8px 3px;
    position: relative
}
.support-contact:hover{
    color: #005981;
    background: #fff;
    border: 1px solid #ddd;
}
.support-contact .icon-phone::before {
    background: #fe6d00;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    position: relative;
    text-align: center;
    top: 0px;
    width: 23px;
    margin-right: 5px;
}
.support-contact i.idrop {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    display: inline-block;
    position: relative;
    right: 0;
    top: -2px;
    margin-left: 2px;
}
.support-contact .box-hover-support-contact{
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    color: #444;
    cursor: default;
    display: none;
    left: -158px;
    padding: 10px 0;
    position: absolute;
    top: 40px;
    width: 455px;
    z-index: 110;
}
.support-contact:hover .box-hover-support-contact{
    display: block;
}
.box-hover-support-contact .top-arrow-box{
    height: 9px;
    left: 0;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 100%;
}
.box-hover-support-contact .top-arrow-box > i{
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll 0px 0px;
    display: inline-block;
    height: 9px;
    position: relative;
    top: -6px;
    width: 14px;
    left: -15px;
}
.box-hover-support-contact .custommer{
    border-bottom: 1px solid #ddd;
    color: #666;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 5px 20px;
}
.box-hover-support-contact .custommer b{
    color: #444;
    text-transform: uppercase;
}
.support-user-shop{
    color: #666;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 5px 20px;
}
.support-user-shop b{
    color: #444;
    text-transform: uppercase;
}
.support-user-shop ul{
    border: 0 none;
    padding: 0 5px 0 10px;
    margin-bottom: 0;
}
.support-user-shop ul li {
    line-height: 25px;
    font-size: 12px;
}
.support-user-shop ul li i {
    border-color: transparent transparent transparent #c2c2c2;
    border-style: solid;
    border-width: 3px 0 3px 3px;
    display: block;
    float: left;
    margin: 10px 7px 9px 0;
}
.chat-sky {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll 0 -8px;
    display: inline-block;
    height: 15px;
    margin: 3px 15px 0 5px;
    position: relative;
    top: 2px;
    width: 45px;
}
.shopping-cart {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -145px 0;
    display: inline-block;
    float: left;
    height: 46px;
    margin-left: 105px;
    margin-top: -10px;
    position: relative;
    width: 50px;
}
.shopping-cart .num-item {
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    font-weight: 400;
    height: 16px;
    left: 12px;
    line-height: 16px;
    overflow: hidden;
    padding: 0 3px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 14px;
}
.box-header-link {
    clear: both;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    width: 100%;
}
.box-menu-title {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    display: inline-block;
    float: left;
    left: 0;
    position: absolute;
    top: 8px;
    width: 195px;
    z-index: 2;
}
.list-product-new{
    display: inline-block;
    float: left;
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
}
.list-product-new .icon-list-new {
    background: rgba(0, 0, 0, 0) url("../img/new.gif") repeat scroll 0 0;
    display: inline-block;
    height: 13px;
    position: relative;
    top: 1px;
    width: 25px;
}
.desc-price-day {
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 14px;
    font-style: italic;
}
.desc-price-day .icon-star-empty{
    color: #fe6d00;
    font-size: 18px;
}
.list-giai-tri {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-style: italic;
    margin-left: 20px;
    margin-top: 10px;
}
.list-giai-tri > i{
    font-size: 18px;
}
.right-ultity {
    color: #9a9a9a;
    display: inline-block;
    float: right;
    height: 38px;
    margin-left: 30px;
    overflow: hidden;
    width: 78%;
}
.shop-create {
    display: inline-block;
    float: left;
    width: 30%;
    overflow: hidden;
}
.part1-right-ultity {
    display: inline-block;
    float: left;
    width: 25%;
}
.part2-right-ultity{
    display:inline-block;
    float:left;
    width: 75%;
    white-space: nowrap;
}
.right-ultity i {
    margin-right: 5px;
}
.shop-create i {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll 0 -93px;
    display: inline-block;
    float: left;
    height: 30px;
    width: 30px;
}
.right-ultity span {
    font-style: italic;
}
.shop-transfer {
    display: inline-block;
    float: left;
    width: 35%;
    overflow: hidden;
}
.shop-transfer i {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -34px -95px;
    display: inline-block;
    float: left;
    height: 32px;
    width: 58px;
}
.shop-diversity {
    display: inline-block;
    float: left;
    width: 35%;
    overflow: hidden;
}
.shop-diversity i {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -93px -95px;
    display: inline-block;
    float: left;
    height: 29px;
    width: 48px;
}
/*Menu*/
.box-menu-list{
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    width: 18%;
    position: relative;
    display: inline-block;
    float: left;
    height: 311px;
}
.icon-cat-title {
    display: inline-block !important;
    float: left;
    margin-right: 10px;
    margin-top: 2px !important;
    width: 18px !important;
}
.ic-line {
    background: #222;
    clear: both;
    display: block;
    height: 3px;
    margin-bottom: 2px;
    width: 100%;
}
.title-cat-menu {
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 5px;
}
.box-menu-hover.act .title-cat-menu,
.box-menu-hover:hover .title-cat-menu{
    color: #fff;
    background: #ff6d01;
}
.box-menu-hover:hover .ic-line{
    background: #fff;
}
.box-menu-hover.act .title-cat-menu .ic-line{
    background: #cc0000;
}
.content-box-menu.header-menu-other {
    border: 1px solid #ddd;
    display: none;
    height: 322px;
    position: relative;
    width: 193px;
    z-index: 10;
    background: #fff;
}
.box-menu-title:hover .content-box-menu.header-menu-other{
    display: block;
}
.content-box-menu > ul{
    margin-bottom: 0;
}
.content-box-menu > ul > li{
    border-bottom: 1px solid #f1f1f1;
    color: #333;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 13px;
    text-decoration: none;
}
.content-box-menu ul > li > a {
    display: inline-block;
    text-transform: none;
    width: 100%;
}
.content-box-menu ul > li > a:hover{
    color:#fe6d01;
}
.content-box-menu ul > li:last-child{
    border-bottom: none;
}
.content-box-menu .list-subcat{
    border: 1px solid #ddd;
    display: none;
    left: 100%;
    width: 590px;
    padding-left: 30px;
    padding-right: 15px;
    position: absolute;
    top: -1px;
    z-index: 22;
    min-height: 311px;
    max-height: 311px;
    background: #fff;
}
.content-box-menu.header-menu-other .list-subcat {
    max-height: 322px;
    min-height: 322px;
}
.content-box-menu ul > li:hover .list-subcat{
    display: inline-block;
}
.list-subcat ul {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 38%;
}
.content-box-menu .list-subcat li {
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
}
.content-box-menu .list-subcat li a:hover{
    font-weight: bold;
}
#content {
    display: inline-block;
    min-height: 350px;
    width: 100%;
}
.bg-absolute{
    display: inline-block;
    position: absolute;
    right: -50px;
    bottom: 0;
}
#sliderMid {
    width: 100%;
}
/*Footer*/
.top-bg-footer{
    background: #f4f4f4;
    border-top: 1px solid #dfdfdf;
    padding: 10px 0 10px;
}
.bottom-footer {
    background: #d0d0d0;
    color: #606060;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
}
#footer .address {
    color: #606060;
    display: inline-block;
    float: left;
}
#footer .address * {
    font-size: 14px;
}
#footer .bottom-footer a{
    color: #2196f3;
}
#footer .bottom-footer a:hover{
    text-decoration: underline;
}
.top-footer {
    border-bottom: 1px solid #dedede;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
}
.top-footer span {
    color: #606060;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.midd-footer{
    display: inline-block;
    width: 100%;
    clear: both;
}
.midd-footer > ul {
    display: inline-block;
    float: left;
    left: 15px;
    margin-right: 5px;
    position: relative;
    width: 24%;
    list-style: outside none none;
}
.midd-footer > ul li {
    list-style: outside none none;
    margin-bottom: 4px;
    vertical-align: top;
}
.midd-footer > ul li span {
    color: #000;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.midd-footer > ul li a {
    color: #606060;
}
.midd-footer > ul li a:hover{
    color: #fe6d00;
}
.note-footer{
    color: #fe6d00;
    clear: both;
    margin-top: 20px;
    display: inline-block;
    font-style: italic;
}
.right-top-footer {
    display: inline-block;
    float: right;
    vertical-align: top;
}
.right-top-footer .icon-facebook {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -54px -28px;
    display: inline-block;
    height: 25px;
    margin-right: 3px;
    vertical-align: top;
    width: 25px;
}
.right-top-footer .icon-google-plus {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -82px -28px;
    display: inline-block;
    height: 25px;
    margin-right: 3px;
    vertical-align: top;
    width: 25px;
}
.bg-icon-temviewer{
    background: url(../img/icon-temviewer.png) no-repeat 0 0;
    height: 60px;
    width: 120px;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    font-size: 10px;
}
.bg-icon-temviewer span {
    float: right;
    font-size: 10px !important;
    font-weight: normal !important;
    line-height: 12px !important;
    margin-right: 5px;
    margin-top: 27px;
    text-align: center;
    text-transform: none !important;
    width: 65px;
}
.bg-icon-temviewer a{
    color: #fff;
}
.midd-footer  .address .phone {
    border-radius: 2px;
    color: #fe6d00;
    display: inline-block;
    font-style: italic;
    margin-top: 5px;
    padding: 5px;
}
.back-to-top {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -108px 1px;
    bottom: 5px;
    display: inline-block;
    height: 30px;
    position: fixed;
    right: 10px;
    transition: all 1s ease 0s;
    vertical-align: top;
    width: 35px;
    z-index: 99;
}
/*Home*/
.slider-box-mid {
    display: inline-block;
    float: left;
    height: 312px;
    margin-left: 5px;
    width: 81%;
    overflow: hidden;
}
.slider-box-mid img{
    width: 100%;
}
.ads-right-mid {
    display: inline-block;
    float: right;
    height: 428px;
    overflow: hidden;
    width: 25%;
}
.item-right-slider {
    margin-bottom: 10px;
}
.item-right-slider:last-child{
    margin-bottom: 0px;
}
.item-right-slider img {
    max-height: 209px;
    width: 100%;
}
.line-top{
    display: inline-block;
    width: 100%;
    clear: both;
}
.line-box{
    width: 100%;
    clear: both;
    margin-top: 15px;
}
/*Title Cate Home Product*/
.cate-box {
    border-bottom: 4px solid #015981;
    margin-bottom: 5px;
    position: relative;
}
.inner-cate-box {
    line-height: 24px;
    margin-right: 30px;
    position: relative;
}
.hide-text-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.parent-cate {
    display: inline-block;
    font-size: 15px;
    height: 32px;
    line-height: 36px;
    padding: 0 12px;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    top: 1px;
}
.parent-cate a{
    color: #777;
    font-style: italic;
    text-decoration: none;
    font-weight:normal;
    display: block;
}
.parent-cate.act {
    background: #015981;
}
.parent-cate.act a {
    color: #fff;
    font-weight:normal;
    font-style:normal;
}
.parent-cate:hover{
    background: #fe6f04;
}
.parent-cate:hover a{
    color:#fff;
}
.content-list-item {
    border-radius: 2px;
    display: block;
    padding: 10px 0px 2px;
    width: 100%;
}
.main-view-post {
    background: #fff;
    border: 1px solid #f2f2f2;
    min-height: 400px;
    padding: 10px 15px;
    display: inline-block;
}
.content-post-line {
    background: #fff;
    display: inline-block;
    margin-top: 0px;
    min-height: 508px;
    position: relative;
    width: 100%;
}
.title-head {
    border-bottom: 2px solid #cc0000;
    font-size: 20px;
    margin-top: 0 !important;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 300;
}
.title-head a,
.title-head a:hover,
.title-head a:focus,
.title-head a:active {
    color: #222;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
}
.list-link-cat {
    border: 1px solid #ddd;
    clear: both;
    margin-bottom: 20px;
    padding: 10px 10px 2px;
    background: #fafafa;
}
.list-link-cat ul {
    height: 22px;
    overflow: hidden;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}
.list-link-cat li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 15px;
}
.list-link-cat li a {
    color: #333;
    font-style: italic;
}
.list-link-cat li a:hover{
    text-decoration: underline;
    color: #cc0000;
}
.list-link-cat .click-more-view-cat {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    cursor: pointer;
    height: 10px;
    margin: 0 auto -12px;
    width: 100px;
    text-align: center;
}
.list-link-cat .click-more-view-cat .fa{
    position: relative;
    top: -5px;
}
.list-link-cat.act ul {
    height: auto;
}
/*Item Product*/
.data-tab {
    margin: 0 -1.5% 0 -0.5%;
}
.item {
    background: #fff;
    border: 2px solid transparent;
    box-shadow: 0 0 2px #aaa;
    display: inline-block;
    float: left;
    height: 330px;
    margin: 5px 0.8% 20px;
    overflow: hidden;
    position: relative;
    width: 22.8%;
}
.item:hover {
    box-shadow: 0 0 2px #fe6d01;
    border:2px solid #fe6d01;
}
.item .item-content {
    padding: 8px 5px;
}
.item .sale-off {
    background: rgba(0, 0, 0, 0) url("../img/discount.png") no-repeat scroll center top;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    height: 67px;
    line-height: 67px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 65px;
}
.item .post-thumb {
    display: block;
    height: 225px;
    line-height: 225px;
    overflow: hidden;
    text-align: center;
}
.item .post-thumb img {
    vertical-align: middle;
    width: 100%;
}
.item .post-title {
    font-size: 12px;
    line-height: 1;
    margin: 0 0 8px;
    max-height: 36px;
    overflow: hidden;
}
.item .post-title a {
    color: #666;
    font-size: 14px;
    line-height: 18px;
}
.item:hover .post-title a{
    color: #fe6d01!important;
}
.amount-1 {
    color: #c63829;
    font-size: 18px;
    font-weight: 400 !important;
    margin-right: 4px;
}
.amount-2 {
    color: #666 !important;
    position: relative;
    text-decoration: line-through;
}
.phone .data-tab {
    margin: 0 -1% 0 -0.8%;
}
/*404*/
.cate-box.p404 .parent-cate::before{
    border-width: 0 0 0 0;
}
.text-404 {
    color: #fe6d01;
    font-size: 130px;
    line-height: 1.4em;
    text-align: center;
    text-shadow: 1px 1px rgb(190, 190, 190), 2px 2px rgb(190, 190, 190), 3px 3px rgb(190, 190, 190), 4px 4px rgb(190, 190, 190), 5px 5px rgb(190, 190, 190), 6px 6px rgb(190, 190, 190), 7px 7px rgb(194, 194, 194), 8px 8px rgb(199, 199, 199), 9px 9px rgb(204, 204, 204), 10px 10px rgb(208, 208, 208), 11px 11px rgb(213, 213, 213), 12px 12px rgb(218, 218, 218), 13px 13px rgb(222, 222, 222), 14px 14px rgb(227, 227, 227), 15px 15px rgb(232, 232, 232), 16px 16px rgb(237, 237, 237);
}
.page-access {
    font-size: 20px;
    line-height: 1.4em;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
/*pagging*/
.show-box-paging {
    clear: both;
    text-align: center;
}
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding-left: 0;
}
.pagination > li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    color: #337ab7;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;
    border-color: #ddd;
    color: #23527c;
    z-index: 3;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}