.img_loading{width: 32px; height: 32px; background: url("../img/ajax-loader.gif") no-repeat -1px -1px; float: left; display: none}
.marginTop10{margin-top:10px }
.marginTop20{margin-top:20px }
.marginTop30{margin-top:30px }

.marginBottom10{margin-bottom:10px }
.marginBottom20{margin-bottom:20px }
.marginBottom30{margin-bottom:30px }
.text-middle{vertical-align: middle!important;}
.a_control:hover{color: red}

/*Cpanel*/
.no-skin small,
.no-skin .small {
    font-size: 14px;
	font-style: italic;
}
.no-skin .user-info small {
    display: inline-block;
}
.no-skin  .ace-nav > li {
    height: 32px;
    line-height: 32px;
}
.no-skin .navbar .navbar-brand {
    padding-bottom: 5px;
    padding-top: 5px;
}
.no-skin .navbar {
    min-height: 32px;
}
.no-skin .navbar-fixed-top + .main-container {
    padding-top: 32px;
}
.no-skin .breadcrumbs {
    line-height: 30px;
    min-height: 30px;
}
.no-skin h1, .no-skin.h1, .no-skin h2, .no-skin .h2, .no-skin h3,.no-skin .h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.no-skin .box-body .thumbnail {
    border-radius: 2px;
}
.no-skin .quick-btn:hover{
    text-decoration: none;
}
.no-skin .sidebar-shortcuts img {
    width: 85%;
}
#block_img_upload {
    display: inline-block;
    margin-bottom: 10px;
}
.block_img_upload > img {
    height: 80px !important;
    width: auto !important;
}
.clear {
    clear: both;
    display: inline-block;
    width: 100%;
}
.breadcrumb{
	font-style: italic;
}

/*page Login*/
.block_login_top .msg_support_top{float: left; width: 100%; height: 40px;background-color: #f7f7f7}
.block_login_center{float: left; width: 100%; height: 650px; position: relative;
    background: url("../img/login/login.jpg") left top no-repeat!important;}

.msg_support{
    position: absolute;
    bottom: 0;
    left: 300px;
    height: 150px;
    text-align: center;
    font-size: 30px; font-weight: bold;
}
.title_support{color: #000000}
.phone_support{ color: #f8510c}


.form_login{
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 400px;
    text-align: center;
    background: #ffffff;
}

.form_login_top{ float: left; width: 100%; height: 100px; background-color: #3b9dd7; text-align: center;
font-size: 40px;  color: #ffffff; font-weight: bold; padding: 20px;
}


.form_login_content{float: left;width: 100%; height:400px;  padding: 15px 40px; }
.form_login_content .dangnhap{text-align: left; color: #f8510c; font-weight: bold; font-size: 25px}
.form_login_content .msg_error{text-align: left; color: #f8510c; font-size: 12px}

.form_login_content .form_login_input{float: left; width: 100%;height: 90px; }
.form_login_content .form_login_input .label_input{float: left; color: #000000; font-weight: bold; font-size: 18px}
.form_login_content .form_login_input .login_input{width: 100%; border: 1px solid #ccc; height: 52px; border-radius: 5px; padding-left: 25px}
.form_login_content .form_login_input .login_input_checkbox{float: left; border: 1px solid #ccc; border-radius: 5px; }
.form_login_content .form_login_input .remeber_account{float: left; font-weight: bold; margin: 2px 0 0 2px}
.block_note{float:left; width: 100%;}
.block_note .ngang{width: 100%; border-top: 1px solid #ccc; margin-bottom: -11px!important;}
.note_login{width: 50px; margin: auto; background-color: #ffffff}
.form_login_content .form_login_input .button_login{width: 100%; border: 1px solid #ccc; height: 52px; border-radius: 5px; margin-top:20px; background-color: #f8510c; color: #ffffff;font-weight: bold }
.form_login_content .form_login_input .button_login:hover{background-color: #3b9dd7; color: #ffffff }

.block_login_bottom{float: left; width: 100%; height: 100px;background-color: #f2f2f2;position: relative;}
.block_login_bottom .imge_logo{ height: 42px; width: 104px; position: absolute; background: url("../img/login/lg2.png")left top no-repeat!important;
    bottom: 25px;left: 150px;}

